.content-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  min-height: 100vh;
  padding: 30px;
  background-color: #687340;
  color: #3E588C;
}

.row-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  padding-right: 30px;
  color: #D9CC1A;
  font-size: 18px;
}
