.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  min-height: 100vh;
  padding: 30px;
  background-color: #687340;
  color: #3E588C;
}
